<!
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tabela de Ninja</title>
    <!DOCTYPE html>
    <html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Detalhe do Ninja</title>
    </head>
    <body>
    <h1>Detalhe do Ninja</h1>
    <table>
        <thead>
        <tr>
            <th></th>
        </thead>
        <tbody>

        </tbody>
    </table>

    </body>
    </html>